{% extends "sampleblog/post_list.html" %}
{% load static %}

{% block title %}{% endblock title %}




{% block content %}
  <main>
    <section >
      <div class='container'>
        <div >

          <div class="row">

          {% for list_item in category_field_choices_final_list  %}

          <div class="col-md-3">
            <div class="thumbnail">

              <div class="caption">
                <h2>{{list_item.0}}</h2>
                <h4><span class="label label-default">{{list_item.2}} posts</span></h4>
                <div><a class='btn btn-primary' href='{% url 'sampleblog:posts_by_category' category_slug=list_item.1 %}'>View more</a></div>

              </div>
            </div>
          </div>
            <!-- <ul>
          <li><a href='{% url 'sampleblog:posts_by_category' category_slug=list_item.1 %}'>{{list_item.0}}</a></li>
            </ul> -->
          {% endfor %}

          </div>
        </div>

      </div>
    </section>

  </main>
  {% endblock content %}

  <footer>

    <div id='footer-wrapper' class='wrapper' >
      <div id='footer-top'>
      <div class='footer-top-subsec'>
        <div class='footer-top-subsec-subsec'>
          <a href="{% url 'sampleblog:post_list' %}">code shop</a>
        </div>
      </div>
      <div class='footer-top-subsec'>
        <div class='footer-top-subsec-subsec'>
          <a href="{% url 'sampleblog:post_list' %}">portfolio</a>
        </div>
      </div>
      <div class='footer-top-subsec'>
        <div class='footer-top-subsec-subsec'>
          <a href="{% url 'sampleblog:post_list' %}">blog</a>
        </div>
      </div>
      <div class='footer-top-subsec'>
        <div class='footer-top-subsec-subsec'>
          <a href="{% url 'sampleblog:post_list' %}">resume</a>
        </div>
      </div>
      <div class='footer-top-subsec'>
        <div class='footer-top-subsec-subsec'>
          <a href="{% url 'sampleblog:post_list' %}">blog</a>
        </div>
      </div>
      <div class='footer-top-subsec'>
        <div class='footer-top-subsec-subsec'>
          <a href="{% url 'sampleblog:post_list' %}">contact</a>
        </div>
      </div>
    </div>


    <div id='footer-middle'>
      <div><h2>For more information, call today at (717) 525-1031.</h2></div>
      <div><p>© 2016 Devon Stank. All rights reserved. Harrisburg Web Design and Squarespace Expert</p></div>
      <div>
        <a href="{% url 'sampleblog:post_list' %}">Terms of Service</a>
        <a href="{% url 'sampleblog:post_list' %}">Return Policy</a>
        <a href="{% url 'sampleblog:post_list' %}">Privacy Policy</a>
      </div>
    </div>

    <div id='footer-bottom'>
      <div id='footer-bottom-subsec'>
      <a href="{% url 'sampleblog:post_list' %}"><img src= '{% static 'sampleblog/145797-social-network-logo-collection/png/badoo.png' %}' alt="Smiley face" width="20px" height="20px"  /></a>
      <a href="{% url 'sampleblog:post_list' %}"><img src= '{% static 'sampleblog/145797-social-network-logo-collection/png/facebook.png' %}' alt="Smiley face" width="20px" height="20px"  /></a>
      <a href="{% url 'sampleblog:post_list' %}"><img src= '{% static 'sampleblog/145797-social-network-logo-collection/png/instagram.png' %}' alt="Smiley face" width="20px" height="20px"  /></a>
      <a href="{% url 'sampleblog:post_list' %}"><img src= '{% static 'sampleblog/145797-social-network-logo-collection/png/linkedin.png' %}' alt="Smiley face" width="20px" height="20px"  /></a>
      <a href="{% url 'sampleblog:post_list' %}"><img src= '{% static 'sampleblog/145797-social-network-logo-collection/png/google-plus.png' %}' alt="Smiley face" width="20px" height="20px"  /></a>
      <a href="{% url 'sampleblog:post_list' %}"><img src= '{% static 'sampleblog/145797-social-network-logo-collection/png/tumblr.png' %}' alt="Smiley face" width="20px" height="20px"  /></a>
      <a href="{% url 'sampleblog:post_list' %}"><img src= '{% static 'sampleblog/145797-social-network-logo-collection/png/twitter.png' %}' alt="Smiley face" width="20px" height="20px"  /></a>
      </div>
    </div>
  </div>
  </footer>


</body>
        </html>
