{% extends "sampleblog/post_list.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}

<main>
  <section >
    <div class='container'>



      <div >
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{% url 'sampleblog:dashboard' %}">dashboard</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_drafts' %}'>drafts</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_posts' %}'>published posts</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_comments' %}'>my comments</a></li>
          <li role="presentation" class="active"><a href='{% url 'sampleblog:dashboard_profile' %}'>my profile</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_profile' %}'>account settings</a></li>
          <li role="presentation"><a href='{% url 'auth:logout' %}'>log out</a></li>
        </ul>
      </div>

      <div >

        <div>
          <h1>Hello, {{current_user.username}}</h1>
        </div>

        {% if messages %}
        <div>
          {% for message in messages %}
          <div class="{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>{{ message }}</p>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <div>
          <a class='btn btn-primary' href='{% url 'sampleblog:dashboard_profile_add' %}'>add profile</a>
          <a class='btn btn-primary' href='{% url 'sampleblog:dashboard_profile_edit' %}'>edit profile</a>
          <a class='btn btn-primary' href='{% url 'sampleblog:dashboard_profile_delete' %}'>delete profile</a>
        </div>

        {% if current_profile is not None %}
        <h2>Your Profile</h2>
        <div>
          <div>
            <h2>first name</h2>
            <p>{{ current_profile.first_name }}</p>
          </div>

          <div>
            <h2>last name</h2>
            <p>{{current_profile.last_name}}</p>
          </div>

          <div>
            <h2>text</h2>
            <p>{{current_profile.text}}</p>
          </div>

          <div>
            <h2>avatar</h2>
            <p>
              <img src='{{ current_user.profile.avatar.url }}' alt="Smiley face" width="300px" height="300px" >
            </p>
          </div>
        </div>
        {% endif %}

      </div>


    </div>

  </section>
</main>




{% endblock content%}
