{% extends "sampleblog/post_list.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}

<main>
  <section >
    <div class='container'>

      <div>
        <ul class="nav nav-tabs ">
          <li role="presentation" class="active"><a href="{% url 'sampleblog:dashboard' %}">dashboard</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_drafts' %}'>drafts</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_posts' %}'>published posts</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_comments' %}'>my comments</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_profile' %}'>my profile</a></li>
          <li role="presentation"><a href='{% url 'sampleblog:dashboard_profile' %}'>account settings</a></li>
          <li role="presentation"><a href='{% url 'auth:logout' %}'>log out</a></li>
        </ul>
      </div>

      <div >
        <div>
          <h1>Hello, {{current_user.username}}</h1>
        </div>

        {% if messages %}
        <div>
          {% for message in messages %}
          <div class="{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>{{ message }}</p>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <div>
          {% if current_drafts_count != 0 %}
          <div>
            <h2>my drafts</h2>
            {% for draft in current_drafts %}
            <div>
              <div>
                <h2><a href="{% url 'sampleblog:dashboard_draft_details' draft_slug=draft.slug %}">{{draft.title}}</a></h2>
                <h4><span class="label label-default">Draft</span></h4>
              </div>

              <div>
                <span><a href='{% url 'sampleblog:dashboard_drafts_by_category' category_slug=draft.category.slug %}'>{{draft.category.category}}</a></span>
              </div>

              <div>
                <span>{{draft.created_date}} by <a href='{% url 'sampleblog:dashboard_drafts_by_user' user=draft.user.username %}'>{{draft.user.username}}</a></span>
              </div>

              <div><p>{{draft.text}}</p></div>
            </div>
            {% endfor %}
            <a class='btn btn-primary' href='{% url 'sampleblog:dashboard_drafts' %}'>see all drafts</a>
          </div>
          {% endif %}


          {% if current_posts_count != 0 %}
          <div>
            <h2>Published posts</h2>
            {% for post in current_posts %}
            <div>
              <div>
                <h2><a href="{% url 'sampleblog:post_details' post_slug=post.slug %}">{{post.title}}</a></h2>
              </div>

              <div>
                <span><a href='{% url 'sampleblog:posts_by_category' category_slug=post.category.slug %}'>{{post.category.category}}</a></span>
              </div>

              <div>
                <span>{{post.published_date}} by <a href='{% url 'sampleblog:posts_by_user' user=post.user.username %}'>{{post.user.username}}</a></span>
              </div>

              <div><p>{{post.text}}</p></div>

              <div>
                <a class='btn btn-primary' href='{% url 'sampleblog:dashboard_posts_edit' post_slug=post.slug %}'>edit</a>
                <a class='btn btn-primary' href='{% url 'sampleblog:dashboard_posts_delete' post_slug=post.slug %}'>delete</a>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}



          {% if current_comments_count != 0 %}
          <div>
            <h2>my comments</h2>
            {% for comment in current_comments %}
            <div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="{{ current_user.profile.avatar.url }}" alt="Smiley face" width="60px" height="60px" >
                  </a>
                </div>
                <div class="media-body">
                  <div><p>{{comment.text}}</p></div>
                  <div>
                    <span>{{comment.created_date}} by <a href='{% url 'sampleblog:posts_by_user' user=comment.user.username %}'>{{comment.user.username}}</a></span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <a class='btn btn-primary' href='{% url 'sampleblog:dashboard_comments' %}'>see all comments</a>
          </div>
          {% endif %}
        </div>

      </div>


    </div>
  </section>
</main>
{% endblock content%}
