{% extends "sampleblog/post_list.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}

<main>
<section>
  <div class='container'>

    <div>
    <h1>{{posts_by_user_state}} by {{current_user}}</h1>
    <h3>{{posts_by_user_count}} {{posts_by_user_state}}</h3>
    {% for post in posts_by_user_current_page %}
    <div >
      <div>
        <h2><a href="{% url 'sampleblog:post_details' post_slug=post.slug %}">{{post.title}}</a></h2>
      </div>

      <div>
        <span><a href='{% url 'sampleblog:posts_by_category' category_slug=post.category.slug %}'>{{post.category.category}}</a></span>
      </div>

      <div>
        <span>{{post.published_date}} by <a href='{% url 'sampleblog:posts_by_user' user=post.user.username %}'>{{post.user.username}}</a></span>
      </div>

      <div><p>{{post.text}}</p></div>

      <div class='wrapper'>
        <a class='btn btn-primary' href="{% url 'sampleblog:post_details' post_slug=post.slug %}">view post</a>
        <a class='btn btn-primary' href="{% url 'sampleblog:post_details' post_slug=post.slug %}">
          <span class="glyphicon glyphicon-comment"></span> {{post.current_comments_count}}
        </a>

        <a class='btn btn-primary' href="{% url 'sampleblog:post_details' post_slug=post.slug %}">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <span>{{post.likes}}</span>
        </a>
        <a class='btn btn-primary' href="{% url 'sampleblog:post_details' post_slug=post.slug %}">
          <span class="glyphicon glyphicon-thumbs-down"></span>
          <span>{{post.dislikes}}</span>
        </a>
      </div>
    </div>
    {% endfor %}

    <ul class="pagination">
      {% if posts_by_user_current_page.has_previous %}
      <li><a href="?page={{ posts_by_user_current_page.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in posts_by_user_current_page.paginator.page_range %}
      {% if posts_by_user_current_page.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if posts_by_user_current_page.has_next %}
      <li><a href="?page={{ posts_by_user_current_page.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>

  </div>
  </div>
</section>
</main>
{% endblock content %}
